@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: $white;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 890px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font: $small-title;
    margin-bottom: 30px;
}

.description {
    font-weight: 400;
    font-size: 18px;
}

.imageAndName {
    display: flex;
    gap: 0px 20px;
}

.left {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.right {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}

.image {
    width: 500px;
    height: 500px;
}

.price {
    margin: 0px 0px 30px;
}

.quantity {
    margin-bottom: 30px;
}

.quantityLabel {
    display: block;
}

.quantityInput {
    background-color: $white;
    border: 1px solid $light-gray;
    width: 5.45em;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add {
    margin-bottom: 10px;
    width: 100%;
}

.productInfoTitle {
    margin-top: 30px;
    margin-bottom: 25px;
}

.mainImage {
    margin: 0px 0px 15px;
}

.otherImages {
    display: flex;
    flex-wrap: wrap;
}

.otherImage {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.no-product {
    padding: 30px;
    font: $large-text;
}