@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    flex-shrink: 0;
    column-gap: 2em;
}

.left {
    grid-auto-flow: row;
    flex-basis: 45%;
}

.right {}

.title {
    font: $small-title;
    margin-bottom: 30px;
}

.price {
    margin: 0px 0px 30px;
}

.quantity {
    margin-bottom: 30px;
}

.quantityLabel {
    display: block;
}

.quantityInput {
    background-color: $white;
    border: 1px solid $light-gray;
    width: 5.45em;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add {
    margin-bottom: 10px;
    width: 100%;
}

.no-product {
    padding: 30px;
    font: $large-text;
}