@import '@styles/theme.module.scss';

.cart {
    background-color: $white;
    padding: 4vh 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}