@import '@styles/theme.module.scss';

.cart {
    background-color: $white;
    padding: 4vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.emptyCart {
    font-weight: 100;
    font-size: 45px;
    line-height: 1.4;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    font: $extra-large-title;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: 100%;
}
.subtotal-chekout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    margin: 0px;
}
