.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    min-height: min-content;
    flex-grow: 1;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
