@import '@styles/theme.module.scss';

.root {}

.title {
    font: $medium-title;
    text-align: center;
    letter-spacing: 0.4rem;
}

.text {
    width: 60%;
}

.button {
    font: $medium-text;
    text-align: center;
    background-color: $black;
    color: $white;
    border-radius: 9999px;
    align-self: center;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
}

.two-hero-images {
    display: flex;
    column-gap: 20px;
}

.top-banner {
    height: 565px;
    margin-bottom: 20px;
    display: block;
}

.top-label-highlighted {
    background-color: red;
    color: $white;
    padding: 0 5px;
    display: inline-block;
    margin-bottom: 10%;
}

.home-page-carousel {
    background-color: $white;
    margin: 20px;
}