@import '@styles/theme.module.scss';

.root {
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}

.title {
    font: $medium-title;
    text-align: center;
    letter-spacing: 0.4rem;
}

.text {
    width: 60%;
}

.button {
    font: $medium-text;
    text-align: center;
    background-color: $black;
    color: $white;
    border-radius: 9999px;
    align-self: center;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
}

.two-hero-images {
    display: flex;
    column-gap: 20px;
}

.top-banner {
    height: 565px;
    margin-bottom: 20px;
    display: block;
}

.top-label-highlighted {
    background-color: red;
    color: $white;
    padding: 0 5px;
    display: inline-block;
    margin-bottom: 5%;
    text-align: start;
}

.home-page-carousel {
    background-color: $white;
    margin: 20px;
}

.overlay-header-small {
    max-width: 100%;
    font: $small-thin-title;
}

.overlay-text-small {
    font: $small-paragraph-font;
}
.cardsLayout {
    display: grid;
    padding-left: 8vw;
    padding-right: 8vw;
    column-gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
}
.HPprgrp {
    font: $large-paragraph;
    margin-bottom: 40px;
}
.hero-paragraph {
    text-align: center;
    width: 100vw;
}
.hero-title {
    margin-top: 80px;
    font: $extra-large-thin-title;
}

.productCard {
    width: 20vw;
}

// --- MEDIA QUERIES ---

@media (1400px <=width) {
    .root {
        background-color: aqua;
    }

    .content {
        max-width: 1400px;
    }
}

/*
@media (980px <=width < 1400px) {
    .root {
        background-color: red;
    }
}
*/

@media (420px <=width < 980px) {
    .root {
        background-color: plum;
    }

    .cardsLayout {
        padding-left: 4vw;
        padding-right: 4vw;
        column-gap: 4vw;
        grid-template-columns: 1fr 1fr;
    }

    .productCard {
        width: 40vw;
    }

    .HPprgrp {
        font: $medium-paragraph-font;
        margin-bottom: 40px;
    }
}

@media (width < 420px) {
    .root {
        background-color: yellow;
    }
    .cardsLayout {
        padding-left: 5vw;
        padding-right: 5vw;
        column-gap: 20px;
        grid-template-columns: 1fr;
    }

    .productCard {
        width: 90vw;
    }

    .HPprgrp {
        font: $small-paragraph-font;
        margin-bottom: 40px;
    }
}
