@import '@styles/theme.module.scss';

.root {}

.title {
    font: $medium-title;
    text-align: center;
    letter-spacing: 0.4rem;
}

.text {
    width: 60%;
}

.button {
    font: $medium-text;
    text-align: center;
    background-color: $black;
    color: $white;
    border-radius: 9999px;
    align-self: center;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
}

.two-hero-images {
    display: flex;
    column-gap: 20px;
}

.top-banner {
    background-repeat: no-repeat;
    background-image: url("https://static.wixstatic.com/media/c837a6_9c1280daaeb0481abc58e6e236efdf59~mv2.png/v1/fill/w_1920,h_748,al_br,q_90,enc_auto/c837a6_9c1280daaeb0481abc58e6e236efdf59~mv2.png");
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    height: 565px;
    margin-bottom: 20px;
    display: block;
}

.top-banner-hero-image {
    height: 460px;
    color: $black !important;
    margin-right: 100px;
    margin-left: 100px;
}

.top-label-highlighted {
    background-color: red;
    color: $white;
    padding: 0 5px;
    display: inline-block;
}