@import '@styles/theme.module.scss';

.root {
    padding-top: 10px;
    text-wrap: pretty;
}

.info-title {
    margin-top: 10px;
    font: $extra-small-title;
    box-shadow: inset 0 -1px black;
}

.info-prgrp {
    font: $extra-small-text;
    margin-top: 8px;
    margin-bottom: 8px;
}
