@import '@styles/theme.module.scss';

.root {
}

.title {
    text-align: start;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
