@import '@styles/theme.module.scss';

.root {
}

.title {
    text-align: start;
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.productCard {
    width: 240px;
}
