@import '@styles/theme.module.scss';

.root {
    font: $large-text;
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 20px;
    gap: 2px;
}

.title {
    text-align: start;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}
