@import '@styles/theme.module.scss';
@import '@styles/styleGuide.module.scss';

.root {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    padding: 4px;
}

.counterValue {
    padding: 0px 4px;
    font-size: 12px;
}

.minus {
    font-size: 0px;
    width: 12px;
}

.plus {
    width: 12px;
}
