@import '@styles/theme.module.scss';

.root {
    width: 70vw;
    margin: 5vh 15vw;
    background-color: $charcoal-black;
    border-radius: 30px;
}

.myStyle {
    font: $large-thin-title;
    color: $white;
    padding: 20px;
    text-align: center;
    border: 1px solid $white;
}
.myParagraph {
    color: $white;
    padding: 20px;
    font: $large-paragraph;
}
