@import '@styles/theme.module.scss';

.root {
    display: grid;
    justify-content: center;
}

.container {
    background-color: $white;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    width: 1000px;
    margin-top: 80px;
}

.myStyle {
    font: $medium-paragraph;
    color: $snow-white;
    padding: 50px 100px;
    text-align: center;
    margin-bottom: 20px;
    background-color: $charcoal-black;
    text-wrap: pretty;
    letter-spacing: 10px;
}
.myParagraph {
    color: $snow-white;
    padding: 80px 120px;
    text-align: center;
    font: $medium-paragraph;
    background-color: $charcoal-black;
    text-wrap: pretty;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}
.root {
}
