@import '@styles/theme.module.scss';

.root {
    display: grid;
    justify-content: center;
}

.container {
    background-color: $white;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    width: 70vw;
}

.myStyle {
    font: $medium-paragraph-bold;
    color: $snow-white;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
    background-color: $charcoal-black;
    text-wrap: pretty;
}
.myParagraph {
    color: $snow-white;
    padding: 50px;
    text-align: center;
    font: $extra-large-text;
    background-color: $charcoal-black;
    text-wrap: pretty;
}
.root {
}
