.wrapper {
    height: 40px;
    width: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 8px;
}

.heart {
    margin-right: 8px;
}

.icon {
    margin: 0px 8px 0px 0px;
}