@import './theme.module.scss';

.primaryButton {
    // background-color: $black;
    padding: 20px;
    // height: 50px;
    display: flex;
    align-items: center;
    font: $medium-text;
    // color: $white;
    // border-radius: 35px;

    &:hover {
        background-color: $white;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 35px;
    }

    justify-content: center;
}

.secondaryButton {
    background-color: $white;
    padding: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    font: $medium-text;
    color: $black;
    border-radius: 35px;

    &:hover {
        background-color: $white;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid $white;
    }
}

.numberInput {
    border: 1px solid $black;
    border-radius: 5px;
    padding-left: 4%;
    height: 35px;
    margin-top: 2vh;
    width: 90%;
}