@import './theme.module.scss';

.primaryButton {
    background-color: $charcoal-black;
    padding: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    font: $medium-text;
    color: $snow-white;
    border-radius: 35px;

    &:hover {
        background-color: $white;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid $charcoal-black;
        color: $charcoal-black;
    }
}

.secondaryButton {
    padding: 20px 25px;
    height: 40px;
    display: flex;
    align-items: center;
    font: $medium-text;
    cursor: pointer;

    &:hover {
        background-color: $white;
        border: 1px solid black;
        border-radius: 35px;
    }
}

.secondaryButton {
    padding: 20px 25px;
    height: 40px;
    display: flex;
    align-items: center;
    font: $medium-text;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: $white;
        border: 1px solid black;
        border-radius: 35px;
    }
}

.numberInput {
    border: 1px solid $black;
    border-radius: 5px;
    padding-left: 10px;
    height: 35px;
    margin-top: 12px;
    width: 70px;
    padding-right: 10px;
}

.price {
    font-weight: 700;
    margin-top: 2px;
}

.loading {
    padding: 30px;
    font: $large-text;
}
