@import './theme.module.scss';

.common {
    color: inherit;
}

.card {
    border: 2px solid $light-gray;
    width: 306px;
    height: 422px;
    text-align: start;
    padding: 20px;
}

.primaryButton {
    background-color: $purple;
    padding: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    font: $medium-text;
    color: $white;
    border-radius: 35px;
}