// colors
$white: #ffffff;
$black: #000000;
$charcoal-black: #282b2d;
$snow-white: #f5f5f5;

//fonts
$my-prettyfont: 'DM Sans', sans-serif;

//text
$small-font: 300 1rem/1.4 $my-prettyfont;
$large-font: 700 2rem/1.2 $my-prettyfont;
$button-font: 400 1rem/1.3 $my-prettyfont;

//text
$small-title: 600 12px/1.4 $my-prettyfont;
$extra-small-text: 400 13px/1.4 $my-prettyfont;
$title-font: 800 26px/1.4 $my-prettyfont;
$extra-large-title: 100 45px/1.4 $my-prettyfont;
$extra-large-thin-title: 100 65px/1.2 $my-prettyfont;
$paragraph-font: 1000 34px/1.4 $my-prettyfont;
$small-thin-title: 100 45px/1.2 $my-prettyfont;
$small-paragraph-font: 1000 24px/1.4 $my-prettyfont;
$large-paragraph: 400 3.25rem/1.4 $my-prettyfont;

$medium-title: 300 1.25rem/1.4 $my-prettyfont;
$medium-text: 300 1.25rem/1.4 $my-prettyfont;

$large-title: 400 3.75rem/1.4 $my-prettyfont;
$large-text: 400 3.75rem/1.4 $my-prettyfont;
$extra-large-text: 400 1.563rem/1.4 $my-prettyfont;
$small-text: 400 1rem/1.4 $my-prettyfont;
$large-text-bold: 700 1.25rem/1.4 $my-prettyfont;
$medium-text: 400 1.063rem/1.4 $my-prettyfont;

$mobile-width: 600px;
