// colors
$white: #ffffff;
$black: #000000;
$charcoal-black: #282B2D;
$snow-white: #F5F5F5;


//fonts
$my-prettyfont: 'DM Sans', sans-serif;

//text
$small-font: 400 0.8rem/1.6 $my-prettyfont;
$details-font: 300 1.2rem/1.2 $my-prettyfont;
