// colors
$white: #ffffff;
$black: #000000;
$charcoal-black: #282B2D;
$snow-white: #F5F5F5;

$dirty-white: #DCD9BF; 
$dana-pink: #FFD9E0; 
$gold-yellow: #FFB615; 
$olive-green: #A09D2A; 
$lavender: #B6C1F0; 
$aero-blue: #7FC2F4; 
$turquoise-green: #92D0AB; 


//fonts
$my-prettyfont: 'DM Sans', sans-serif;