@import '@styles/theme.module.scss';
@import '@styles/styleGuide.module.scss';

.root {
    display: flex;
    flex-direction: column;
}

.items-container {
    display: flex;
    gap: 24px;
    overflow: hidden;
}

.gallery-card {}

.carousel {
    display: flex;
}

.gallery-viewall-button {
    width: 200px;
}

.gallery-footer {
    display: flex;
    justify-content: center;
    line-height: 1.5;
    height: 120px;
    align-items: center;
}

.gallery-header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.gallery-title {
    font-size: 30px;
    line-height: 3;
    color: $black;
}