@import '@styles/theme.module.scss';

.root {
    cursor: pointer;
}

.cardContent {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.4rem;
    max-width: 241px;
}

.image {
    width: 241px;
    height: 241px;
    object-fit: cover;
    object-position: 50% 50%;
}

.noImage {
    width: 100%;
    height: 100%;
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $gray;
}
