@import '@styles/theme.module.scss';

.root {
    cursor: pointer;
}

.cardContent {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.4rem;
    font-size: 24px;
    height: 30%;
}

.image {
    object-position: 50% 50%;
    width: 100%;
    height: 70%;
}

.description {
    text-align: left;
    font: $medium-title;
}

.cardsLayout {
    padding-left: 4vw;
    padding-right: 4vw;
}

// --- MEDIA QUERIES ---

@media (1400px <=width) {
    .root {
        background-color: aqua;
    }

    .content {
        max-width: 1400px;
    }
}

@media (980px <=width < 1400px) {
    .root {
        background-color: red;
    }
}

@media (420px <=width < 980px) {
    .root {
        background-color: plum;
    }
    .cardContent {
        font-size: 24px;
    }

    .cardsLayout {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

@media (width < 420px) {
    .root {
        padding-left: 24px;
        padding-right: 24px;
    }
    .cardContent {
        font-size: 24px;
    }

    .cardsLayout {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}
