@import '@styles/theme.module.scss';

.circle {
    width: 60px;
    height: 60px;
    border: 1px solid $black;
    border-radius: 30px;
}

.circleTitle {
    font: $extra-small-text;
    text-align: center;
    margin-top: 10px;
}

.white {
    background-color: $white;
}

.black {
    background-color: $black;
}

.colors {
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    justify-items: center;
}

.charcoalBlack {
    background-color: $charcoal-black;
}

.snowWhite {
    background-color: $snow-white;
}

.wraper {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
}

.small-text {
    font: $small-text;
}
.large-text {
    font: $large-text;
}
.extra-small-text {
    font: $extra-small-text;
}
.large-paragraph {
    font: $large-paragraph;
}
.medium-paragraph-bold {
    font: $medium-paragraph-bold;
}
.small-paragraph-font {
    font: $small-paragraph-font;
}
.paragraph-font {
    font: $paragraph-font;
}
.extra-large-thin-title {
    font: $extra-large-thin-title;
}
.extra-large-title {
    font: $extra-large-title;
}
.large-title {
    font: $large-title;
}

.medium-title {
    font: $medium-title;
}
.extra-small-title {
    font: $extra-small-title;
}
.fonts-layout {
    display: flex;
    width: 100vw;
    margin-top: 80px;
}
