@import '@styles/theme.module.scss';

.extraLargeTitle {
    font: $extra-large-title;
}

.largeTitle {
    font: $large-title;
}

.mediumTitle {
    font: $medium-title;
}

.smallTitle {
    font: $small-title;
}

.extraLargeText {
    font: $extra-large-text;
}

.largeText {
    font: $large-text;
}

.MediumText {
    font: $small-text;
}

.extraSmallText {
    font: $extra-small-text;
}

.circle {
    width: 60px;
    height: 60px;
    border: 1px solid $black;
    border-radius: 30px;
}

.circleTitle {
    font: $extra-small-text;
    text-align: center;
}

.white {
    background-color: $white;
}

.black {
    background-color: $black;
}

.colors {
    display: flex;
    column-gap: 10px;
}

.disabled {
    background-color: $charcoal-black;
    opacity: 0.4;
}

.dirtyWhite {
    background-color: $snow-white;
}
.smallFont {
    font: $small-font;
}
