@import '@styles/theme.module.scss';

.circle {
    width: 60px;
    height: 60px;
    border: 1px solid $black;
    border-radius: 30px;
}

.miniTitle {
    font: $extra-small-text;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.white {
    background-color: $white;
}

.black {
    background-color: $black;
}

.colors {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 18px;
}

.charcoalBlack {
    background-color: $charcoal-black;
}

.snowWhite {
    background-color: $snow-white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-text {
    font: $small-text;
}
.large-text {
    font: $large-text;
}
.extra-small-text {
    font: $extra-small-text;
}
.large-paragraph {
    font: $large-paragraph;
}
.medium-paragraph-bold {
    font: $medium-paragraph-bold;
}
.small-paragraph-font {
    font: $small-paragraph-font;
}
.paragraph-font {
    font: $paragraph-font;
}
.extra-large-thin-title {
    font: $extra-large-thin-title;
}
.extra-large-title {
    font: $extra-large-title;
}
.large-title {
    font: $large-title;
}

.medium-title {
    font: $medium-title;
}

.extra-small-title {
    font: $extra-small-title;
}

.fonts-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    margin-bottom: 80px;
}
.Title {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
