@import '@styles/theme.module.scss';

.root {
    width: 400px;
    height: 400px;
    // background-image: url('../../assets/img/[1400_640]_heroImage04.jpg');
}

.image {
    width: 400px;
    height: 400px;
}
