@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: column;
    gap: 16px;

    & img {
        width: 100%;
        max-block-size: fit-content;
    }
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    gap: 16px;
}
