@import '@styles/theme.module.scss';

.root {
    padding-top: 2px;
    padding-bottom: 2px;
}

.stars-container {
    display: flex;
    padding: 2px;
    column-gap: 2px;
}

.star-icon {
    margin: 2px;
    overflow: visible;
}

.star-full {
    fill: $purple;
}

.star-empty {
    fill: rgb(148, 148, 148);
}

.star-half {}

.rating-text {
    color: $gray;
    margin-left: 12px;
}

.sizer {
    max-width: 16px;
    max-height: 16px;
}