@import '@styles/theme.module.scss';

.root {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
}

.stars-container {
    display: flex;
    padding: 2px;
    column-gap: 2px;
    flex-direction: row;
    align-items: center;
}

.star-icon {
    margin: 0 2px;
}

.star-full {
    fill: $purple;
}

.star-empty {
    fill: $gray;
}

.star-half {}

.rating-text {
    color: $gray;
    margin-left: 12px;
}