@import '@styles/theme.module.scss';

.root {
    padding-top: 2px;
    padding-bottom: 2px;
}

.stars-container {
    display: flex;
    padding: 2px;
    column-gap: 2px;
}

.star-full {
    fill: $purple;
}

.star-empty {
    fill: $gray;
}

.rating-text {
    color: $gray;
    margin-left: 12px;
    font: $small-text;
}
