@import '@styles/theme.module.scss';
@import '@styles/styleGuide.module.scss';

.root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-image: none;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #000000;
    color: #ffffff;
}

.arrowIcon {
    margin-right: 8px;
}

.root .footerButton {
    border-radius: 0;
}

.footer {
    padding: 16px;
    border: 1px solid #e4e4e4;
    border-right: 0px solid #e4e4e4;
    border-bottom: 0px solid #e4e4e4;
    border-left: 0px solid #e4e4e4;
}

.itemsList {
    flex-grow: 1;
    max-height: 350px;
    overflow: auto;
}

.total {
}

.bodyWrapper {
    padding: 16px;
}
