@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    justify-content: space-between;
    padding-right: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 9rem;
}