@import '@styles/theme.module.scss';

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    font: $medium-text;
    width: 100vw;
}

.menu {
    display: flex;
    font: $medium-text;
    align-items: center;
    cursor: pointer;
}

.menuButton {
    padding-right: 22px;
    padding-left: 22px;
}

.logo {
    font: 700 1.15rem/1.5 $my-prettyfont;
    height: fit-content;
    margin-left: 20px;
}

// --- MEDIA QUERIES ---

@media (430px <= width < 980px) {
    .menuButton {
        padding-right: 14px;
        padding-left: 14px;
    }
}

@media (width < 430px) {
    .menu {
        margin: 0;
    }

    .logo {
        display: none;
    }
}
