@import '@styles/theme.module.scss';

.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 5rem;
  padding-left: 3rem;
}

.details {
}

.social {
  display: flex;
  column-gap: 2rem;
}
