@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: start;
    width: 100vw;
    padding-right: 5rem;
    padding-left: 3rem;
}

.details {}

.social {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 1.5em;
}