@import '../../../styles/theme.module.scss';
.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    padding: 40px 100px;
}

.box {
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    column-gap: 18px;
    flex-direction: row;
    justify-items: center;
    background: $snow-white;
    justify-content: center;
}
.row {
    display: flex;
    gap: 20px;
    width: 100%;
    background-color: $snow-white;
    margin-bottom: 30px;
}
.strip {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}
.section {
    display: flex;
    align-items: center;
    padding: 16px;
}
.imageSection {
    position: relative;
}
.floatingContent {
    position: absolute;
    display: grid;
    justify-items: center;
    left: 8%;
    gap: 10px;
    top: 35%;
}
