@import '@styles/theme.module.scss';

.small {
    font: $small-font;
}

.large {
    font: $large-font;
}

.extraLargeTitle {
    font: $extra-large-title;
}

.largeTitle {
    font: $large-title;
}

.mediumTitle {
    font: $medium-title;
}

.smallTitle {
    font: $small-title;
}

.extraLargeText {
    font: $extra-large-text;
}

.largeText {
    font: $large-text;
}

.MediumText {
    font: $small-text;
}

.extraSmallText {
    font: $extra-small-text;
}