@import '@styles/theme.module.scss';

.root {
    min-width: auto;
    max-width: 400px;
    display: flex;
    padding-right: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vh;
}

.image {
    width: 100px;
    height: 100px;
}

.infoContainer {
    margin-left: 1.4vw;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price {
    font-family: $my-prettyfont;
    font-weight: 700;
    margin-top: 2px;
}