@import '@styles/theme.module.scss';

.root {
    padding: 0.5rem;
    min-width: auto;
    max-width: 400px;
    display: flex;
}

.image {
    width: 5rem;
}

.infoContainer {
    margin-left: 8px;
}
