@import '@styles/theme.module.scss';
@import '@styles/styleGuide.module.scss';

.root {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.gallery-card-item {
    border: 0px solid rgb(237, 236, 236);
}