@import '@styles/theme.module.scss';

.root {
    position: relative;
    color: $white;
}

.overlay {
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 5vw;
}

.image-container {
    display: flex;
    overflow: hidden;
}

.image {
    object-fit: cover;
    object-position: 50% 0%;
    height: 640px;
    width: 100vw;
}

.overlay-text {
    display: block;
    text-align: start;
    width: fit-content;
    font: $paragraph-font;
    margin-bottom: 0.6em;
    margin-top: 2em;
}

.overlay-header {
    max-width: 60%;
    font-size: 3vw;
    font: $extra-large-thin-title;
    margin-bottom: 0.8em;
    text-align: start;
}

.overlay-button {
    margin-top: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    height: 2rem;
}

.overlayLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    justify-items: center;
}

// --- MEDIA QUERIES ---

@media (1400px <=width) {
    .root {
        background-color: yellow;
        // background-image: url('../../../assets/img/[1400_640]_heroImage04.jpg');
    }

    .content {
        max-width: 1400px;
    }
}

@media (980px <=width < 1400px) {
    .root {
        background-color: red;
        // background-image: url('../../../assets/img/[420_340]_heroImage04.jpg');
    }
}

@media (420px <=width < 980px) {
    .root {
        background-color: plum;
    }

    .overlay-text {
        font: $medium-paragraph-font;
        margin-bottom: 0.6em;
        margin-top: 2em;
    }

    .overlay-header {
        max-width: 60%;
        font: $small-thin-title;
        margin-bottom: 0.8em;
    }
}

@media (width < 420px) {
    .root {
    }
    .overlay-text {
        font: $small-paragraph-font;
        margin-bottom: 0.6em;
        margin-top: 2em;
    }

    .overlay-header {
        max-width: 60%;
        font: $small-thin-title;
        margin-bottom: 0.8em;
    }
}
