@import '@styles/theme.module.scss';

.root {
    position: relative;
    color: $white;
    width: 100vw;
    background-size: cover;
}

.overlay {
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 5vw;
}

.image-container {
    display: flex;
    overflow: hidden;
}

.image {
    object-fit: cover;
    object-position: 50% 0%;
    height: 640px;
    width: 100vw;
}

.small-title {
    display: block;
    text-align: start;
    width: fit-content;
    font: $paragraph-font;
    margin-bottom: 0.6em;
    margin-top: 2em;
}

.big-title {
    max-width: 80%;
    margin-bottom: 0.8em;
    text-align: start;
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 1.2;
    font-style: normal;
    font-size: 3vw;
    font: $extra-large-thin-title;
}

.overlay-button {
    margin-top: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    height: 2rem;
}

.overlayLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    justify-items: center;
}

// --- MEDIA QUERIES ---

@media (1400px <=width) {
    .content {
        max-width: 1400px;
    }

    .small-title {
        font-size: 42px;
    }

    .big-title {
        font-size: 85px;
    }

    .overlay-button {
        height: 47px;
    }
}

@media (980px <= width < 1400px) {
    .small-title {
        font: $medium-paragraph-font;
        margin-bottom: 0.6em;
        margin-top: 2em;
        font-size: 38px;
    }

    .big-title {
        font-size: 85px;
    }
}

@media (430px <=width < 980px) {
    .overlay {
        padding-left: 10vw;
    }

    .small-title {
        font: $medium-paragraph-font;
        margin-bottom: 0.6em;
        margin-top: 2em;
        font-size: 22px;
    }

    .big-title {
        font: $small-thin-title;
        font-size: 60px;
    }
}

@media (width < 430px) {
    .overlay {
        padding-left: 8vw;
    }

    .small-title {
        font: $small-paragraph-font;
        margin-bottom: 0.6em;
        margin-top: 2em;
        font-size: 20px;
    }

    .big-title {
        font: $small-thin-title;
        margin-bottom: 0.8em;
        font-size: 50px;
    }
}
